<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="css/gm.css">
      <link rel="stylesheet" type="text/css" href="css/backup.css">
      <script type="text/javascript" src="js/gm.js"></script>
      <title>iRT Service:SmartBackup</title>
  </head>

  <body>
    <div class="search-area">
      <div class="sa-ele">
        <label class="se-title">搜索:</label>
        <input class="se-con" name="search-string"/>
      </div>
    </div>
    <table></table>
    <script>
        // 一个简单的promise请求,获取Backup数据
          const getBackupData = function(paramse) {
              return new Promise((resolve, reject) => {
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', 'http://127.0.0.1:3000/backup/backupData');
                  xhr.setRequestHeader('Content-Type', 'multipart/form-data');
                  xhr.onreadystatechange = function() {
                      if (xhr.readyState !== 4) {
                          return;
                      }
                      if (xhr.status >= 200 && xhr.status < 300 || xhr.status === 304) {
                          resolve(xhr.response);
                      } else {
                          reject(xhr);
                      }
                  };

                  // 一个简单的处理参数的示例
                  let formData = '';
                  for (let key in paramse) {
                      if(formData !== '') {
                          formData += '&';
                      }
                      formData += key + '=' + paramse[key];
                  }
                  xhr.send(formData);
              });
          };
        var table = document.querySelector('table');
        function init() {
            table.GM({
                ajaxData: function(settings, params) {
                              return getBackupData(params); 
                          }
                , firstLoading: true
                , supportRemind: true
                , gridManagerName: 'test'
                , isCombSorting: false
                , height: '880px'
                , supportAjaxPage: true
                , supportSorting: true
                , query: {}
                , pageSize: 20
                , columnData: [{
                  key: 'LastName',
                  //width: '100px',
                  text: '姓氏',
                  sorting: ''
                },{
                  key: 'FirstName',
                  text: '名字',
                  sorting: ''
                },{
                  key: 'MiddleName',
                  text: '中间名',
                  sorting: ''
                },{
                  key: 'MRN',
                  //width: '60px',
                  text: '病历号',
                  sorting: '',
                },{
                  key: 'backupTimeStamp',
                  //width: '60px',
                  text: '备份时间',
                  sorting: '',
                  // template: function(createDate, rowObject){
                  //  return new Date(createDate).format('YYYY-MM-DD HH:mm:ss');
                  // }
                },{
                    key: 'backupFileName',
                    text: '备份文件名称',
                },{
                  key: 'size',
                  text: '文件大小',
                  //width: '60px',
                  //sorting: 'ASC'
                }
              ]
            }, function (query) {
                // 渲染完成后的回调函数
                console.log(query);
            });
        }
    </script>
    <script>
        init();
        // 绑定搜索事件
        document.querySelector('[name="search-string"]').addEventListener('input', function () {
            var _query = {
                searchString: document.querySelector('[name="search-string"]').value.replace(/[^a-zA-Z0-9\s\_\-]/g, '')
            };
            table.GM('setQuery', _query).GM('refreshGrid', function () {
                console.log('搜索成功...');
            });
        });

    </script>

  </body>
</html>
