<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="app-icon/win/favicon.ico" type="images/ico"/>

  <link rel="stylesheet" type="text/css" href="css/variables.css" />
  <link rel="stylesheet" href="css/nativize.css">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/status.css">
  <link rel="stylesheet" href="css/section.css">
  <link rel="stylesheet" href="css/data.css">
  <link rel="stylesheet" href="css/github.css">
  <link rel="stylesheet" href="css/backup-data.css">
  <link rel="stylesheet" href="css/settings.css">
  <link rel="stylesheet" href="css/gmo.css">
  <link rel="stylesheet" href="css/gm.css">
  <link rel="stylesheet" href="css/base.css">

  <script type="text/javascript" src="js/gm.js"></script>
  <script type="text/javascript" src="js/js.cookie.js"></script>
</head>
<body>
  <nav class="nav js-nav">
    <header class="nav-header">
      <h1 class="nav-title">放疗数据<strong>管理服务</strong></h1>
      <!--img class="nav-header-icon" src="assets/img/LogoIconOrange.png"/-->
    <script type="text/javascript">
      const uri = window.location.href;
      var loginStatus = Cookies.get('rtpmsLogin');
      //console.log("login status:",loginStatus)
      if(!loginStatus) {
        Cookies.remove('activeSectionButtonId')
      }
      function cleanText(e){
          this.text='';
      }
    </script>
    </header>

    <div class="nav-item u-category-menu">
      <h5 class="nav-category">
        <svg class="nav-icon"><use xlink:href="/img/icons.svg#icon-menu"></use></svg>
        治疗计划
      </h5>
      <button type="button" id="button-institution-data" data-section="institution-data" class="nav-button"><em>数据库</em></button>
    </div>

    <div class="nav-item u-category-windows">
      <h5 class="nav-category">
        <svg class="nav-icon"><use xlink:href="/img/icons.svg#icon-windows"></use></svg>
        智能备份
      </h5>
      <button type="button" id="button-backup-data" data-section="backup-data" class="nav-button">备份<em>列表</em></button>
    </div>

    <div class="nav-item u-category-system">
      <h5 class="nav-category">
        <svg class="nav-icon"><use xlink:href="/img/icons.svg#icon-system"></use></svg>
        系统
      </h5>
      <button type="button" id="button-system-settings" data-section="system-settings" class="nav-button">系统<em>设置</em></button>      
      <button type="button" id="button-system-logs" data-section="system-logs" class="nav-button">系统<em>日志</em></button>
    </div>

    <footer class="nav-footer">
      <button type="button" id="button-about" data-modal="about" class="nav-footer-button">关于</button>
      <a class="nav-footer-logo" href="http://www.jingfang.tech" aria-label="Homepage">
        精放科技
      </a>
      <text></text>
    </footer>
  </nav>

  <main class="content js-content">
    <div class="status-topbar">
      <div class="blank"> </div>
      <!--dialog id="showDialog">删除已完成
      </dialog-->
      <div class="welcome">
        <div class="user-info">
          <label style="text-align: right;">欢迎登录：</label>
          <div id="user-info"></div>
        </div>
        <input class="logout" type="button" value="注销">
      </div>
    </div>

    <!--template class="task-template"-->
      <section id="institution-data-section" class="section js-section u-category-menu">
        <header class="section-header">
          <div class="section-wrapper">
            <h1>
              <svg class="section-icon"><use xlink:href="img/icons.svg#icon-menu"></use></svg>          
              治疗计划数据
            </h1>
          </div>
        </header>
    
        <!--div class="data">
          <div class="data-wrapper">
            <button id="application-menu-demo-toggle" class="js-container-target rtms-toggle-button">Institution
              <div class="data-meta u-avoid-clicks">机构 <span class="data-wrapper-divider">|</span> 分组</div>
            </button>
            <div class="data-box">
              <table id = "institution-data-table"></table>
            </div>
          </div>
        </div-->
            
        <div class="data">
          <div class="data-wrapper">
            <button id="open-file-manager-demo-toggle" class="js-container-target rtms-toggle-button">病人
              <div class="data-meta u-avoid-clicks">已锁定 <span class="data-wrapper-divider">|</span> 待备份</div>
            </button>
            <div class="data-box">
              <div class="data-controls">
              </div>
              <div class="search-area">
                <div class="sa-ele">
                  <label class="se-title">搜索:</label>
                  <input class="se-con" name="search-Field"/>
                </div>
              </div>
              <table id = "patient-data-table"></table>
            </div>
          </div>
        </div>
    
        <div class="data">
          <div class="data-wrapper">
            <button id="open-ex-links-demo-toggle" class="js-container-target rtms-toggle-button">计划
              <div class="data-meta u-avoid-clicks">已锁定计划 <span class="data-wrapper-divider">|</span> 未锁定计划</div>
            </button>
            <div class="data-box">
              <div class="data-controls">
              </div>
              <table id = "plan-data-table"></table>
            </div>
          </div>
        </div>
    
        <div class="data">
          <div class="data-wrapper">
            <button id="open-ex-links-demo-toggle" class="js-container-target rtms-toggle-button">可导入图像
              <div class="data-meta u-avoid-clicks">新图像 <span class="data-wrapper-divider">|</span> 自动勾画</div>
            </button>
            <div class="data-box">
              <div class="data-controls">
              </div>
              <table id = "image-data-table"></table>
            </div>
          </div>
        </div>
    
        <script  type="text/javascript" src="js/prosdb/institution-data.js"></script>
    
      </section>
    <!--/template>

    <template class="task-template"-->
      <section id="backup-data-section" class="section js-section u-category-windows">
        <header class="section-header">
          <div class="section-wrapper">
            <h1>
              <svg class="section-icon"><use xlink:href="img/icons.svg#icon-windows"></use></svg>
              备份数据分析及计划
            </h1>
          </div>
        </header>
        <div class="data">
          <div class="data-wrapper">
            <button id="history-data-analyse-toggle" class="js-container-target rtms-toggle-button">已备份数据
              <div class="data-meta u-avoid-clicks">备份数:
                <span class="data-meta-backup-number"></span>
                <span class="data-meta-divider">|</span>总容量:
                <span class="data-meta-backup-size"></span>gb
              </div>
            </button>
            <div class="data-box">
              <div class="data-controls">
              </div>
              <h4 style="margin: 10px">备份详情</h4>
              <div class="search-area">
                <div class="sa-ele">
                  <label class="se-title">搜索:</label>
                  <input class="se-con" name="search-Backup"/>
                </div>
              </div>
              <table id = "backup-data-table"></table>
              <div id="pageBar">
              </div>
              <div style="width:800px;margin:0 auto;">
                <!--button class="table-button" id="backup-data-add-row">新增</button>
                <button class="table-button" id="backup-data-delete-row">删除</button-->
              </div>                
            </div>
          </div>
          <div class="data-wrapper">
            <button id="history-data-analyse-toggle" class="js-container-target rtms-toggle-button">备份队列
              <div class="data-meta u-avoid-clicks">待备份数:
                <span class="data-meta-pending-number"></span>
                <span class="data-meta-divider">|</span>所需容量:
                <span class="data-meta-pending-size"></span>gb
              </div>
            </button>
            <div class="data-box">
              <div class="data-controls">
              </div>
              <h4 style="margin: 10px">备份队列</h4>
              <table id = "backup-pending-table"></table> 
              
            </div>
          </div>
        </div>
        <script type="text/javascript" src="js/backup/backup-data.js"></script>
      </section>
    <!--/template>

    <template class="task-template"-->
      <section id="system-settings-section" class="section js-section u-category-system">
        <header class="section-header">
          <div class="section-wrapper">
            <h1>
              <svg class="section-icon"><use xlink:href="img/icons.svg#icon-system"></use></svg>
              系统参数
            </h1>
          </div>
        </header>
    
        <div class="data">
          <div class="data-wrapper">
            <button id="system-setings-toggle" class="js-container-target rtms-toggle-button">设置数据库和备份的参数
              <div class="data-meta u-avoid-clicks">支持: 数据库 <span class="data-meta-divider">|</span> 程序: 主线</div>
            </button>
            <div class="data-box">
              <div class="data-controls" style="display:flex;margin-bottom: 10px">
                <button class="data-button" id="process-save-settings">保存参数</button>
                <button class="data-button" id="process-init-backuplist">数据同步</button>
              </div>
              <h4 style="margin: 10px">机构参数</h4>
              <form id="institution-settings-form" style="width: 100%;">
                <div style="display: flex;width: 100%;border: 1px solid #ccc;">
                  <div style="width: 45%;">
                    <div class="form-group">
                      <label class="institution-form-lable" for="nation">默认机构</label>
                      <input class="institution-form-input" list="institutions" type="text" name="defaultInstitution">
                      <datalist id="institutions"></datalist>
                    </div>
                    <div class="form-group">
                      <label class="institution-form-lable" for="nation">DICOM缓冲区位置</label>
                      <input class="institution-form-input" type="text" name="dicomFolder">
                    </div>
                    <div class="form-group">
                      <label class="institution-form-lable" for="nation">自动导入并勾画轮廓？</label>
                      <input type="checkbox" id="autoSeg">
                      <input class="institution-form-input" type="hidden" name="autoSeg">
                    </div>
                  </div>
                  <div style="width: 6%;"> 
                  </div>
                  <div style="width: 45%;">
                    <!--div class="form-group">
                      <label class="institution-form-lable" for="nation">机构数据库</label>
                      <input class="institution-form-input" type="text" name="institutionFileName">
                    </div>
                    <div class="form-group">
                      <label class="institution-form-lable" for="nation">病人数据库</label>
                      <input class="institution-form-input" type="text" name="patientFileName">
                    </div>
                    <div class="form-group">
                      <label class="institution-form-lable" for="nation">治疗计划数据库</label>
                      <input class="institution-form-input" type="text" name="planFileName">
                    </div-->
                  </div>
                </div>
              </form>
              <h4 style="margin: 10px">数据库参数</h4>
              <form id="database-settings-form" style="width: 100%;">
                <div style="display: flex;width: 100%;border: 1px solid #ccc;">
                  <div style="width: 45%;">
                    <div class="form-group">
                      <label class="database-form-lable" for="jobNumber">数据库服务器</label>
                      <input class="database-form-input" type="text" name="host">
                    </div>
                    <div class="form-group">
                      <label class="database-form-lable" for="nation">数据库名称</label>
                      <input class="database-form-input" type="text" name="database">
                    </div>
                    <div class="form-group">
                      <label class="database-form-lable" for="gender">用户名</label>
                      <input class="database-form-input" type="text" name="user">
                    </div>
                    <div class="form-group">
                      <label class="database-form-lable" for="gender">密码</label>
                      <input class="database-form-input" type="password" name="password">
                    </div>
                  </div>
                  <div style="width: 6%;"> 
                  </div>
                  <div style="width: 45%;">
                    <div class="form-group">
                      <label class="database-form-lable" for="nation">数据库端口号</label>
                      <input class="database-form-input" type="text" name="port">
                    </div>
                    <div class="form-group">
                      <label class="database-form-lable" for="maxConnNumber">连接池最大连接数</label>
                      <div style="display: flex;">
                        <input style="width: 90%;margin-right: 10%;" class="database-form-input" min="10" max="100" step="10" type="range"  name="max">
                        <span id="showCn">0</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="database-form-lable" for="gender">连接最大空闲时间(毫秒)</label>
                      <input  class="database-form-input" type="text" name="idleTimeoutMillis">
                    </div>
                  </div>
                </div>
              </form>
              <h4 style="margin: 10px">备份参数</h4>
              <form id="backup-settings-form" style="width: 100%;">
                <div style="display: flex;width: 100%;border: 1px solid #ccc;">
                  <div style="width: 45%;">
                    <div class="form-group">
                      <label class="backup-form-lable" for="name">开始备份时间</label>
                      <input class="backup-form-input" type="time" name="startTime">
                    </div>
                    <div class="form-group">
                      <label class="backup-form-lable" for="name">自动维护可用存储区比例</label>
                      <input id="autoDeletePatient" type="checkbox">
                      <input class="backup-form-input" type="hidden" name="autoDeletePatient">
                    </div>
                    <div id="spaceLimit">
                      <div class="form-group">
                        <label class="backup-form-lable" for="name">最大允许存储空间百分比</label>
                        <div style="display: flex;">
                          <input style="width: 90%;margin-right: 10%" class="backup-form-input" min="0" max="100" type="range"  name="capacityUpperLimit">
                          <span id="showCapacity">0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="width: 6%;"> 
                  </div>
                  <div style="width: 45%;">
                    <div class="form-group">
                      <label class="backup-form-lable" for="jobNumber">每天备份病人数量</label>
                      <div style="display: flex;">
                        <input style="width: 90%;margin-right: 10%;" class="backup-form-input" min="10" max="100" step="10" type="range"  name="backupNumberPerDay">
                        <span id="showBN">0</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="backup-form-lable" for="gender">只备份具有锁定计划的病人？</label>
                      <input type="checkbox" id="backupLockedOnly">
                      <input class="backup-form-input" type="hidden" name="backupLockedOnly">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="data-wrapper">
            <button id="server-config-toggle" class="js-container-target rtms-toggle-button">服务器及用户设置
              <div class="data-meta u-avoid-clicks">服务器: 管理 <span class="data-meta-divider">|</span> 用户: 管理 </div>
            </button>
            <div class="data-box">
              <h4 style="margin: 10px">服务器</h4>
              <table id = "system-server-table"></table>
              <div id="system-servers"></div>
              <h4 style="margin: 10px">用户</h4>
              <table id = "system-user-table"></table>
              <div id="system-users"></div>
            </div>
          </div>
        </div>
    
        <script type="text/javascript" src="js/system/renderTable.js"></script>
        <script type="text/javascript" src="js/system/editTable.js"></script>
        <script type="text/javascript" src="js/system/settings.js"></script>
        <script type="text/javascript" src="js/system/server.js"></script>
        <script type="text/javascript" src="js/system/user.js"></script>
    
      </section>
    <!--/template>

    <template class="task-template"-->
      <section id="system-logs-section" class="section js-section u-category-system">
        <header class="section-header">
          <div class="section-wrapper">
            <h1>
              <svg class="section-icon"><use xlink:href="img/icons.svg#icon-system"></use></svg>
              系统以及操作日志
            </h1>
          </div>
        </header>
    
        <div class="data">
          <div class="data-wrapper">
            <button id="new-window-crashes-demo-toggle" class="js-container-target rtms-toggle-button">服务器故障记录
              <div class="data-meta u-avoid-clicks">支持: Solaris <span class="data-meta-divider">|</span> 程序: 主线</div>
            </button>
            <div class="data-box">
              <h4 style="margin: 10px">系统日志</h4>
              <div class="form-group">
                <div class="sa-ele">
                  <label class="se-title">主机日志:</label>
                  <select class="se-con" name="selectServer">
                    <option value="-1">请选择主机</option>
                    <!--通过js增加-->
                  </select>
                </div>
              </div>
              <div id="wrapper">
                <div id="control-area"></div>
                <p id="text_area" style="background-color:white;border: 1px solid #ccc;height:100%;width:100%;">
                  <textarea></textarea>
                </p>
              </div>
            </div>
          </div>
        </div>
    
      </section>
    <!--/template-->
    
  </main>

  <!--template class="task-template"-->
    <div id="about-modal" class="about modal">
      <div class="about-wrapper">
        <header class="about-header">  
          <!--img class="about-logo" src="assets/img/about.png" srcset="assets/img/about.png 1x, assets/img/about.png 2x" alt="iRT Smart Service"-->      
          <div class="product-name">
            <p id="product-name">放射治疗计划数据智能管理系统</p>
            版本：<label id="product-version">0.0.1</label>
          </div>
        </header>
        <main class="about-sections">
          <section class="about-section about-code">
            <h2>欢迎使用</h2>
              <p><a href="http://www.jingfang.tech">精放科技<span class="u-visible-to-screen-reader">(opens in new window)</span></a>竭诚为你提供专业的肿瘤放射治疗技术服务！</p>
          </section>
          <footer class="about-section footer">
            <div class="rainbow-button-wrapper">
              <button id="get-started" class="about-button modal-hide">返回</button>
            </div>
          </footer>
        </main>
      </div>
    </div>
  <!--/template>  

  <template class="task-template"-->
    <div id="login-modal" class="login modal">
      <div class="login-wrapper">
        <header class="login-header">  
          <!--img class="about-logo" src="assets/img/about.png" srcset="assets/img/about.png 1x, assets/img/about.png 2x" alt="iRT Smart Service"-->      
          <div class="product-name">
            <p id="login-product-name">放射治疗计划数据智能管理系统</p>
            版本：<label id="login-product-version">0.0.1</label>
          </div>
        </header>
        <main class="login-sections">
          <section class="login-section login-code">
            <h2>欢迎使用</h2>
              <p><a href="http://www.jingfang.tech">精放科技<span class="u-visible-to-screen-reader">(opens in new window)</span></a>竭诚为你提供专业的肿瘤放射治疗技术服务！</p>
          </section>
          <footer class="login-section footer">
            <div class="message" id="message"></div>
            <div class="box">
              <div class="info">
                <input class="u" id="user" onfocus="cleanText()" placeholder="请输入用户名"/>
              </div>
              <div style="margin-bottom: 10px;">
                <input class="p" id="password" onfocus="cleanText()" type="password" placeholder="请输入密码"/>
              </div>
              <div class="rainbow-button-wrapper">
                <button id="get-login" class="login-button modal-login">登录</button>
              </div>
            </div>
          </footer>
        </main>
      </div>
    </div>
    <script type="text/javascript" src="js/login/login.js"></script>
  <!--/template-->  

  <!--script src="js/imports.js"></script-->
  <script src="js/nav.js"></script>
  <script src="js/func-btns.js"></script>
  
</body>
</html>
