html, body{
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  margin: 0px;
  padding: 0px;
  background-color: #efefef;
}
#content {  
  width: 100%;
}
.product-name{
  width: 100%;
  font-size: larger;
  padding-top: 8px;
  margin-left: 10px;
  color: grey;
  text-align: center;
  background-color: #e8e8e8;
}
.logout{
  margin:8px;
  cursor: pointer;
  width: 10%;
} 
#tab_bar {
  width: 200%;
  height: 40px;
  float: left;
  cursor: pointer;
}
#tab_bar ul {
  padding: 0px;
  margin: 0px;
  height: 40px;
  text-align: center;
}
#tab_bar li {
  list-style-type: none;
  padding-top: 8px;
  float: left;
  width: 33.333%;
  height: 40px;
  background-color: #e8e8e8;
  border-radius: 0px;
}
li{
  padding:0px;
  margin:0px;
}
.tab_css {
  width: 100%;
  height: 98%;
  background-color: #efefef;
  display: none;
  float: left;
}

.search-area,
.sa-ele{
  display: flex;
  margin: 5px;
}

.se-title{
 margin-right: 5px;
}
.plugin-action{
    display: inline-block;
    color: steelblue;
    margin-right: 10px;
    cursor: pointer;
}
.plugin-action:hover{
    text-decoration:underline;
}
.search-area{
  justify-content:space-between;
  padding: 10px 10px;
  border: 1px solid #ccc;
  background: #efefef;
  text-align: center;
}
.se-con{
  width:180px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 4px;
  height: 24px;
  line-height: 24px;
}
.data-area{
  margin: 5px;
  border: 1px solid #ccc;
}
