<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/gm.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/gm.js"></script>
    <title>放疗数据管理</title>
    <style type="text/css">
    </style>
    <script type="text/javascript">
      var myclick = function(v) {
        var llis = document.getElementsByTagName("li");
        for(var i = 0; i < llis.length; i++) {
          var lli = llis[i];
          if(lli == document.getElementById("tab" + v)) {
            lli.style.backgroundColor = "#efefef";
            lli.style.cursor = "auto";
          } else {
            lli.style.backgroundColor = "#e8e8e8";
            lli.style.cursor = "pointer";
          }
        }
        var divs = document.getElementsByClassName("tab_css");
        for(var i = 0; i < divs.length; i++) {
          var divv = divs[i];
          if(divv == document.getElementById("tab" + v + "_content")) {
            divv.style.display = "block";
          } else {
            divv.style.display = "none";
          }
        }
      }
    </script>
  </head>
  <body>
    <div id="content">
      <div id="tab_bar">
        <ul>
          <li id="tab1" onclick="myclick(1)" style="background-color: #efefef">
            治疗计划资料
          </li>
          <li id="tab2" onclick="myclick(2)">
            治疗数据
          </li>
          <li id="tab3" onclick="myclick(3)">
            数据备份
          </li>
        </ul>
      </div>
      <div class="tab_css" id="tab1_content" style="display: block">
        <div class="head-box">
          <div class="search-area">
            <div class="sa-ele">
            <div class="sa-ele">
              <label class="se-title">搜索:</label>
              <input class="se-con" name="search-Field"/>
            </div>
              <label class="se-title" for="nation">机构:</label>
              <input class="se-con" id="institution-filter" list="institutionList" type="text">
              <datalist id="institutionList"></datalist>
            </div>
            <div class="sa-ele">
              <label class="se-title">总存储容量:</label>
              <label class="se-title" id="totalstoragespace"></label>
	              <label class="se-title">|</label>
              <label class="se-title">已用存储区空间:</label>
              <label class="se-title" id="usedstoragespace"></label>
	              <label class="se-title">|</label>
              <label class="se-title">已用存储区比例:</label>
              <label class="se-title" id="storagespaceusage"></label>
            </div>
          </div>
        </div>
		<div class="data-area">
			<div class="data-controls">
          		<table id = "patient-data-table"></table>
          	</div>
      	</div>
		<div class="data-area">
			<div class="data-controls">
				<table id = "plan-data-table"></table>
			</div>
		</div>
      </div>
      <div class="tab_css" id="tab2_content">
        <div>
		    <div class="search-area">
		      <div class="sa-ele">
		        <label class="se-title">搜索:</label>
		        <input class="se-con" name="search-data"/>
		      </div>
		    </div>
			<div class="data-area">
			    <div calss="data-controls">
		    		<table id = "treatment-data-table"></table>
		    	</div>
			</div>
		</div>
      </div>
      <div class="tab_css" id="tab3_content">
        <div>
		    <div class="search-area">
		      <div class="sa-ele">
		        <label class="se-title">搜索:</label>
		        <input class="se-con" name="search-string"/>
		      </div>
	            <div class="sa-ele">
		            <div class="sa-ele">
		              <label class="se-title">待备份数量:</label>
		              <label class="se-title data-meta-pending-number"></label>
		              <label class="se-title">|</label>
		              <label class="se-title">待备份容量:</label>
		              <label class="se-title data-meta-pending-size"></label>
		            </div>
		            <div class="sa-ele">
		              <label class="se-title">备份存储总容量:</label>
		              <label class="se-title" id="totalbackupstoragespace"></label>
		              <label class="se-title">|</label>
		              <label class="se-title">已用备份区空间:</label>
		              <label class="se-title" id="usedbackupstoragespace"></label>
		              <label class="se-title">|</label>
		              <label class="se-title">已用备份区比例:</label>
		              <label class="se-title" id="backupstoragespaceusage"></label>
		          </div>
	            </div>
		    </div>	
			<div class="data-area">
			    <div calss="data-controls">
		    		<table id = "backup-data-table"></table>
		    	</div>
		    </div>
			<div class="data-area">
			    <div calss="data-controls">
		    		<table id = "backup-pending-table"></table>
		    	</div>
		    </div>
		</div>
      </div>
    </div>
    <script src="js/bundle.js"></script>
  </body>

</html>