<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="assets/app-icon/win/favicon.ico" type="images/ico"/>

  <link rel="stylesheet" href="../assets/css/variables.css">
  <link rel="stylesheet" href="../assets/css/nativize.css">
  <link rel="stylesheet" href="../assets/css/global.css">
  <link rel="stylesheet" href="../assets/css/about.css">
  <link rel="stylesheet" href="../assets/css/nav.css">
  <link rel="stylesheet" href="../assets/css/section.css">
  <link rel="stylesheet" href="../assets/css/data.css">
  <link rel="stylesheet" href="../assets/css/github.css">
  <link rel="stylesheet" href="../assets/css/backup-data.css">
  <link rel="stylesheet" href="../assets/css/settings.css">
  <link rel="stylesheet" href="../assets/css/gmo.css">
  <link rel="stylesheet" href="../plugin/gm/css/gm.css">
  <link rel="stylesheet" href="../plugin/gm/css/base.css">

  <link rel="import" href="./pinnacle/institution-data.html">
  <link rel="import" href="./backup/backup-data.html">
  <link rel="import" href="./system/settings.html">
  <link rel="import" href="./system/logs.html">  
  <link rel="import" href="./about.html">

  <script type="text/javascript" src="../plugin/gm/js/gm.js"></script>
</head>
<body>
  <nav class="nav js-nav">
    <header class="nav-header">
      <h1 class="nav-title">放疗数据<strong>管理服务</strong></h1>
      <!--img class="nav-header-icon" src="assets/img/LogoIconOrange.png"/-->
    </header>

    <div class="nav-item u-category-menu">
      <h5 class="nav-category">
        <svg class="nav-icon"><use xlink:href="../assets/img/icons.svg#icon-menu"></use></svg>
        治疗计划
      </h5>
      <button type="button" id="button-institution-data" data-section="institution-data" class="nav-button"><em>数据库</em></button>
    </div>

    <div class="nav-item u-category-windows">
      <h5 class="nav-category">
        <svg class="nav-icon"><use xlink:href="../assets/img/icons.svg#icon-windows"></use></svg>
        智能备份
      </h5>
      <button type="button" id="button-backup-data" data-section="backup-data" class="nav-button">备份<em>列表</em></button>
    </div>

    <div class="nav-item u-category-system">
      <h5 class="nav-category">
        <svg class="nav-icon"><use xlink:href="../assets/img/icons.svg#icon-system"></use></svg>
        系统
      </h5>
      <button type="button" id="button-system-settings" data-section="system-settings" class="nav-button">系统<em>设置</em></button>      
      <button type="button" id="button-system-logs" data-section="system-logs" class="nav-button">系统<em>日志</em></button>
    </div>

    <footer class="nav-footer">
      <button type="button" id="button-about" data-modal="about" class="nav-footer-button">关于</button>
      <a class="nav-footer-logo" href="http://www.jingfang.tech" aria-label="Homepage">
        精放科技
      </a>
      <text></text>
    </footer>
  </nav>

  <main class="content js-content"></main>

  <script>
    require('../assets/imports')
    require('../assets/nav')
    require('../assets/func-btns')
    require('../assets/ex-links')
  </script>
</body>
</html>
